.container{
    display: flex;
    justify-content: space-between;
}
.home{
    font-size: 2rem;
    cursor: pointer;
}
.container>div{
    padding:1rem;
}
.login{
cursor: pointer;
}
.signup{
    cursor: pointer;
}
.logout{
    cursor: pointer;
}