<form (ngSubmit)="signup()">
    
    <div>
        <label for="name">name</label>
        <input type="text" id="name" name="name" [(ngModel)]="name" required>
    </div>
    <div>
        <label for="email">email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <div>{{error}}</div>
</form>